|   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir nuevo plato al Menú</title>
</head>
<body>
    <form action="/actualizar_comida/{{men.id}}" method="POST" id="actualizar_comida">
    <h2> Actualizar un plato del Menú </h2>
   
<table>
<tr>
    <td>
     <label for="txtNombre">Nombre</label>  
    <input type="text" name="txtNombre" id="txtNombre" value="{{men.nombre}}"> 
    </td>
</tr>
<tr>
    <td>
    <label for="txtDescripcion">Descripción</label>  
    <input type="text" name="txtDescripcion" id="txtDescripcion" value="{{men.descripcion}}">
    </td>
</tr>
<tr>
    <td>
        <label for="txtPrecio"> Precio </label>  
        <input type="number" name="txtPrecio" id="txtPrecio" value="{{men.precio}}">
        </td>
<tr>
        <td>
        <label for="txtCategoria"> Categoria </label>     
        <select name="txtCategoria" id="txtCategoria" value= "{{men.categoria}}">
            <option value="Carnes">Carnes</option>
            <option value="Pescados">Pescados</option>
            <option value="Guarniciones">Guarniciones</option>
          </select>
       
        </td>
</tr>
</tr>
    <td>
        <input type="submit" value="Enviando">
    </td>
<tr>
</table>
</form>
</body>
</html>